@import url('https://fonts.googleapis.com/css2?family=Karla');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgb(227, 219, 216);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}
body {background-color: rgb(215, 248, 241);}

.about-me {
    background-color: #f0f8ff; /* Light Blue */
    padding: 30px;
    text-align: center;
}

.projects {
    background-color: #e1cbf7; 
    
}

.skills {
    background-color: #a1b4e6; 
    color: rgb(53, 4, 4);
   
}

p{
    color:rgb(47, 47, 97)
}



h1, h2 {
    margin-bottom: 0; /* Remove any space below headings */
}